# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
env/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid
*.seed
*.bak
*.tar
*.log
.dockerignore

# Redis dump
dump.rdb

# OS
.DS_Store
Thumbs.db
